
<header>
    <h1>Christopher Dignam</h1>
    <div class="contact">
        <p>40 Avenue Berthelot, Rueil-Malmaison 92500</p>
        <p>Phone: (33) 06 30 99 42 81 | Email: <a href="mailto:dignachr@gmail.com">dignachr@gmail.com</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/christopherdignam/" target="_blank">https://www.linkedin.com/in/christopherdignam/</a></p>
    </div>
    
    <!-- Navigation Tabs -->
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
        <button class="nav-link" id="v-pills-experience-tab" data-bs-toggle="pill" data-bs-target="#v-pills-experience" type="button" role="tab" aria-controls="v-pills-experience" aria-selected="false">Work Experience</button>
        <button class="nav-link" id="v-pills-ed-cert-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ed-cert" type="button" role="tab" aria-controls="v-pills-ed-cert" aria-selected="false">Education & Certificates</button>
        <button class="nav-link" id="v-pills-patents-tab" data-bs-toggle="pill" data-bs-target="#v-pills-patents" type="button" role="tab" aria-controls="v-pills-patents" aria-selected="false">Patents</button>
        <button class="nav-link" id="v-pills-tech-tab" data-bs-toggle="pill" data-bs-target="#v-pills-tech" type="button" role="tab" aria-controls="v-pills-tech" aria-selected="false">Technology Skills</button>
        <button class="nav-link" id="v-pills-languages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-languages" type="button" role="tab" aria-controls="v-pills-languages" aria-selected="false">Languages</button>
        <button class="nav-link" id="v-pills-viz-tab" data-bs-toggle="pill" data-bs-target="#v-pills-viz" type="button" role="tab" aria-controls="v-pills-viz" aria-selected="false">Explore</button>
    </div>
    
</header>