<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christopher Dignam - CV</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Styles (Optional) -->
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-11 offset-md-1">
                <!-- Horizontal nav at top of page -->
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Navbar</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                                <a class="nav-link" href="#">Features</a>
                                <a class="nav-link" href="#">Pricing</a>
                                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    
    
    <div class="container mt-5">
        <div class="row">
            <!-- Profile card and navigation on the left -->
            <div class="col-md-4">
                {% include header.html %}
            </div>
            
            <!-- Content on the right -->
            <div class="col-md-7 ms-0.5">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"></div>
                    <div class="tab-pane fade" id="v-pills-experience" role="tabpanel" aria-labelledby="v-pills-experience-tab"></div>
                    <div class="tab-pane fade" id="v-pills-ed-cert" role="tabpanel" aria-labelledby="v-pills-ed-cert-tab"></div>
                    <div class="tab-pane fade" id="v-pills-patents" role="tabpanel" aria-labelledby="v-pills-patents-tab"></div>
                    <div class="tab-pane fade" id="v-pills-tech" role="tabpanel" aria-labelledby="v-pills-tech-tab"></div>
                    <div class="tab-pane fade" id="v-pills-languages" role="tabpanel" aria-labelledby="v-pills-languages-tab"></div>
                    <div class="tab-pane fade" id="v-pills-viz" role="tabpanel" aria-labelledby="v-pills-viz-tab"></div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Bootstrap JavaScript Bundle -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <!-- Load custom javascript -->
    <script src="tabs.js"></script>
    
    
</body>

</html>