<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christopher Dignam - CV</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Styles (Optional) -->
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div class="container mt-4">
        <div class="row">
            <!-- Profile card and navigation on the left -->
            <div class="col-md-4">
                {% include header.html %}
            </div>
            
            <!-- Content on the right -->
            <div class="col-md-8 ms-2">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"></div>
                    <div class="tab-pane fade" id="v-pills-experience" role="tabpanel" aria-labelledby="v-pills-experience-tab"></div>
                    <div class="tab-pane fade" id="v-pills-ed-cert" role="tabpanel" aria-labelledby="v-pills-ed-cert-tab"></div>
                    <div class="tab-pane fade" id="v-pills-patents" role="tabpanel" aria-labelledby="v-pills-patents-tab"></div>
                    <div class="tab-pane fade" id="v-pills-tech" role="tabpanel" aria-labelledby="v-pills-tech-tab"></div>
                    <div class="tab-pane fade" id="v-pills-languages" role="tabpanel" aria-labelledby="v-pills-languages-tab"></div>
                    <div class="tab-pane fade" id="v-pills-viz" role="tabpanel" aria-labelledby="v-pills-viz-tab"></div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Bootstrap JavaScript Bundle -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <!-- Load custom javascript -->
    <script src="tabs.js"></script>
    
    
</body>

</html>